<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530588292517-vufrt0r3nvd4qk23pfdaunpsfo81a7t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530588292517-vufrt0r3nvd4qk23pfdaunpsfo81a7t3</string>
	<key>API_KEY</key>
	<string>AIzaSyDbFgCUiBFDnlwma-_diXNHYFgzT78bfyE</string>
	<key>GCM_SENDER_ID</key>
	<string>530588292517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bsdonald.sunburst</string>
	<key>PROJECT_ID</key>
	<string>supernova-sunburst</string>
	<key>STORAGE_BUCKET</key>
	<string>supernova-sunburst.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530588292517:ios:53ae92238afef90306844c</string>
</dict>
</plist>